In [1]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/Cellar/ipython/8.2.0/libexec/lib/python3.10/site-packages (1.4.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/Cellar/ipython/8.2.0/libexec/lib/python3.10/site-packages (from pandas) (1.22.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/Cellar/ipython/8.2.0/libexec/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/Cellar/ipython/8.2.0/libexec/lib/python3.10/site-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/Cellar/six/1.16.0_2/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
WARNING: You are using pip version 22.0.2; however, version 22.0.4 is available.
You should consider upgrading via the '/usr/local/Cellar/ipython/8.2.0/libexec/bin/python3.10 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install requests

Collecting requests
  Using cached requests-2.27.1-py2.py3-none-any.whl (63 kB)
Collecting urllib3<1.27,>=1.21.1
  Using cached urllib3-1.26.9-py2.py3-none-any.whl (138 kB)
Collecting charset-normalizer~=2.0.0
  Using cached charset_normalizer-2.0.12-py3-none-any.whl (39 kB)
Collecting idna<4,>=2.5
  Using cached idna-3.3-py3-none-any.whl (61 kB)
Collecting certifi>=2017.4.17
  Using cached certifi-2021.10.8-py2.py3-none-any.whl (149 kB)
Installing collected packages: certifi, urllib3, idna, charset-normalizer, requests
Successfully installed certifi-2021.10.8 charset-normalizer-2.0.12 idna-3.3 requests-2.27.1 urllib3-1.26.9
WARNING: You are using pip version 22.0.2; however, version 22.0.4 is available.
You should consider upgrading via the '/usr/local/Cellar/ipython/8.2.0/libexec/bin/python3.10 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [187]:
# import packages
import requests
import pandas as pd
import json

base_url = "https://api.waqi.info"

In [194]:
lat, lng = 51.53873, 0.09866
token = "584a113eeaf11c91b56fab616c36f90842b39607"
response1 = requests.get(base_url + f"/feed/geo:{lat};{lng}/?token={token}")

In [159]:
"Station: {}, Air quality index: {}".format(response1.json()['data']['city']['name'], response1.json()['data']['aqi'])

'Station: Redbridge - Ley Street, United Kingdom, Air quality index: 30'

In [195]:
response1.json()['data']

{'aqi': 30,
 'idx': 9041,
 'attributions': [{'url': 'http://uk-air.defra.gov.uk/',
   'name': 'UK-AIR, air quality information resource - Defra, UK',
   'logo': 'UK-Department-for-environment-food-and-rural-affairs.png'},
  {'url': 'https://londonair.org.uk/',
   'name': "London Air Quality Network - Environmental Research Group, King's College London",
   'logo': 'UK-London-Kings-College.png'},
  {'url': 'https://waqi.info/', 'name': 'World Air Quality Index Project'}],
 'city': {'geo': [51.5694843315237, 0.0829074748964946],
  'name': 'Redbridge - Ley Street, United Kingdom',
  'url': 'https://aqicn.org/city/united-kingdom/redbridge-ley-street'},
 'dominentpol': 'pm25',
 'iaqi': {'h': {'v': 35.2},
  'o3': {'v': 33.1},
  'p': {'v': 1009.5},
  'pm10': {'v': 22},
  'pm25': {'v': 30},
  't': {'v': 7.7},
  'w': {'v': 15.7},
  'wg': {'v': 22.5}},
 'time': {'s': '2022-03-31 14:00:00',
  'tz': '+01:00',
  'v': 1648735200,
  'iso': '2022-03-31T14:00:00+01:00'},
 'forecast': {'daily': {'o3': [{'avg': 32,
     'day': '2022-03-31',
     'max': 38,
     'min': 27},
    {'avg': 34, 'day': '2022-04-01', 'max': 40, 'min': 31},
    {'avg': 29, 'day': '2022-04-02', 'max': 39, 'min': 21},
    {'avg': 26, 'day': '2022-04-03', 'max': 38, 'min': 16},
    {'avg': 17, 'day': '2022-04-04', 'max': 17, 'min': 15}],
   'pm10': [{'avg': 6, 'day': '2022-03-31', 'max': 7, 'min': 4},
    {'avg': 7, 'day': '2022-04-01', 'max': 8, 'min': 6},
    {'avg': 9, 'day': '2022-04-02', 'max': 13, 'min': 5},
    {'avg': 13, 'day': '2022-04-03', 'max': 18, 'min': 6},
    {'avg': 21, 'day': '2022-04-04', 'max': 23, 'min': 21}],
   'pm25': [{'avg': 14, 'day': '2022-03-31', 'max': 15, 'min': 9},
    {'avg': 16, 'day': '2022-04-01', 'max': 17, 'min': 11},
    {'avg': 28, 'day': '2022-04-02', 'max': 43, 'min': 15},
    {'avg': 36, 'day': '2022-04-03', 'max': 54, 'min': 18},
    {'avg': 64, 'day': '2022-04-04', 'max': 70, 'min': 64}],
   'uvi': [{'avg': 0, 'day': '2022-03-31', 'max': 2, 'min': 0},
    {'avg': 0, 'day': '2022-04-01', 'max': 2, 'min': 0},
    {'avg': 0, 'day': '2022-04-02', 'max': 3, 'min': 0},
    {'avg': 0, 'day': '2022-04-03', 'max': 2, 'min': 0},
    {'avg': 0, 'day': '2022-04-04', 'max': 2, 'min': 0},
    {'avg': 0, 'day': '2022-04-05', 'max': 0, 'min': 0}]}},
 'debug': {'sync': '2022-04-01T00:18:59+09:00'}}

In [199]:
response1 = response1.json()

In [200]:
response1 = response1['data']

In [201]:
for i in response1:
    print(i)

aqi
idx
attributions
city
dominentpol
iaqi
time
forecast
debug

In [202]:
#I want to get the data into a dataframe format w. columns for aqi, lat, long, time, attributions(name), witness my faliure below:

def make_dataframe(response1):
    """Extracts data from request r and returns a DataFrame."""
    rows = []
    for i in response1:
        rows.append([['aqi'], ['time']])
    df = pd.DataFrame(rows, columns=['aqi', 'time'])
    df['aqi'] = pd.to_numeric(df.aqi, errors='coerce')
    return df

df = make_dataframe(response1)
df.head()

   aqi    time
0  NaN  [time]
1  NaN  [time]
2  NaN  [time]
3  NaN  [time]
4  NaN  [time]